* {
  margin: 0 auto;
  font-size: 14px;
  color: #333;
  padding: 0;
}

a {
  text-decoration: none;
  transition: all 0.2s;
}

.app {
  width: 1200px;
}

@media (max-width: 1199.98px) {
  .app {
    width: 992px;
  }
}

@media (max-width: 991.98px) {
  .app {
    width: 768px;
  }
}

@media (max-width: 767.98px) {
  .app {
    width: 576px;
  }
}

@media (max-width: 575.98px) {
  .app {
    width: calc(100% - 30px);
    padding: 0 15px;
  }
}

.navbar-logo {
  float: left;
  margin: 30px 0;
}

.nav-list {
  float: right;
  line-height: 80px;
}

.nav-list li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}

.nav-list li a {
  text-decoration: none;
  font-weight: 800;
  font-family: sans-serif;
}

.clear {
  clear: both;
}

.header {
  height: 600px;
}

.row-2-3 {
  width: 100%;
  height: calc(calc(200% / 3) - 10px);
  margin-bottom: 10px;
}

.row-1-3 {
  width: 100%;
  height: calc(100% / 3);
  background-color: red;
}

.col-2-3 {
  height: 100%;
  width: calc(calc(200% / 3) - 10px);
  margin-right: 10px;
  position: relative;
  float: left;
}

.col-1-3 {
  height: 100%;
  width: calc(100% / 3);
  float: right;
  position: relative;
  margin: 0;
}

.news-img {
  background: url(../images/slider-1-1200x900.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.news-img2 {
  background: url(../images/slider-2-450x600.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.news-img3 {
  background: url(../images/slider-3-450x600.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.news-img4 {
  background: url(../images/slider-4-450x600.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.news-img5 {
  background: url(../images/slider-5-450x600.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.news-img6 {
  background: url(../images/slider-6-450x600.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.news-info {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 50px;
  top: 0;
  float: left;
}

.news-titr b {
  position: absolute;
  bottom: 50px;
  left: 20px;
  color: #ffffff;
  font-weight: 800;
  font-size: 20px;
  font-family: sans-serif;
}

.yellow-p {
  color: #f9b500;
}

.info-list {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.info-list span {
  color: #f9b500;
}

.info-list2 span {
  font-weight: 900;
}

.info-list li {
  list-style: none;
  display: inline-block;
  color: #ffffff;
  margin-right: 20px;
}

.info-list2 li {
  list-style: none;
  display: inline-block;
  color: #333;
  margin-right: 20px;
  line-height: 50px;
}

.info-list i,
.info-list2 i {
  color: #f9b500;
}

.main-news-titr a {
  text-decoration: none;
}
.part-up {
  width: 100%;
  height: calc(calc(100% / 2) - 10px);
  margin-bottom: 10px;
  position: relative;
}

.part-down {
  width: 100%;
  height: calc(100% / 2);
  position: relative;
  padding: 0;
}

.part-1-3-col {
  height: 100%;
  width: calc(calc(100% / 3) - 10px);
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
  border-spacing: 0;
}

.part-1-3-col:nth-child(2) {
  margin-right: 10px !important;
  margin-left: 10px !important;
  padding: 0;
}

.part-1-3-col:nth-child(3) {
  float: right;
}

.pa-0 {
  padding: 0;
  margin: 0;
}

.title {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 700;
}

.title:before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 80px;
  height: 5px;
  background: #f9b500;
  z-index: 1;
}

.title:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #ccc;
}

.main {
  float: left;
  width: calc(calc(200% / 3) - 25px);
  margin-right: 25px;
}

.main-news-img {
  width: 100%;
  display: block;
}

.container {
  width: 100%;
  margin-top: 50px;
}

.main-news-titr {
  margin-top: 20px;
}

.main-news-titr a {
  font-size: 20px;
}

.main-news-titr a:hover {
  color: #f9b500;
}

.main-news-p {
  margin: 10px 0 20px 0;
}

.crypto-news-titr:hover {
  color: #f9b500;
}

.crypto-news {
  height: 100%;
  width: 100%;
  display: inline-block;
}
.part-1{
    width: calc(50% - 25px);
    margin-right: 25px;
    display: inline-block;
}

.part-2 {
    width: calc(50% - 25px);
    display: inline-block;
  }

.crypto-news-img {
  width: 100%;
  display: block;
}

.contain-crypto{
  display: block;
  width: 100%;
}

.btc-price{
  width: 100%;
}
.btc-price-list{
  list-style: none;
  padding: 15px;
  text-align: center;
  background-color: #f9b500;
}